.categoryedit-cont {
    width: 22%;
    margin: auto;
    padding: 10px;
    padding-top: 25px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-30%);
    background-color: black;
    border-radius: 5px;
  }
  .categoryedit-input {
    margin-bottom: 12px;
    width: 90%;
    padding: 5px;
    text-align: center;
  }
  .submit {
    width: 40%;
    padding: 5px;
    cursor: pointer;
    background-color: green;
    color: #fff;
  }